Source: kadmin-remctl
Section: net
Priority: extra
Maintainer: Russ Allbery <rra@debian.org>
Build-Depends: debhelper (>= 5), perl, libremctl-dev, libkrb5-dev,
 comerr-dev
Standards-Version: 3.7.3

Package: kadmin-remctl
Architecture: any
Depends: krb5-user, libexpect-perl, ${shlibs:Depends}
Recommends: kasetkey, kstart, ldap-utils, libtext-template-perl,
 remctl-server
Description: remctl backend providing kadmin functions
 This package provides a remctl backend and configuration for doing kadmin
 functions via remctl.  It also includes the ksetpass client, which
 changes passwords using the Kerberos password change protocol and doesn't
 require the current password (with appropriate server ACLs).

Package: password-change
Architecture: any
Depends: ${shlibs:Depends}
Description: Client for Help Desk password changes
 Provides a command-line client for changing a user's password with
 prompts an authorized user to authenticate, verifies the user's identity
 in the Stanford user database, and then changes the user's password.
 .
 This package is Stanford-specific in its defaults.
