#!/usr/bin/make -f
# Based on sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# Used only for the man page.
VERSION := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2 \
                 | cut -d- -f1)

CFLAGS=-g -Wall
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif

kadmin-backend.8:

build: build-arch build-indep
build-arch: build-arch-stamp
build-indep: build-indep-stamp

build-arch-stamp:
	dh_testdir
	$(MAKE)
	touch build-arch-stamp

build-indep-stamp:
	chmod 755 debian/password-reset.run
	pod2man --release=$(VERSION) --center="Consultant Commands" \
	    --section=8 kadmin-backend > kadmin-backend.8
	touch build-indep-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp
	$(MAKE) clean
	dh_clean kadmin-backend.8

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install

binary: binary-arch binary-indep

binary-indep: DH_OPTIONS=-i
binary-indep:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: DH_OPTIONS=-a
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: binary binary-arch binary-indep build build-arch build-indep
.PHONY: install
