#!/usr/bin/make -f

CFLAGS = -g -Wall -DPASSWD_FILE=\\\"/afs/ir/service/etc/passwd.all\\\" \
	-DHOST=\\\"password-change.stanford.edu\\\"
ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- CFLAGS="$(CFLAGS)" --enable-reduced-depends

override_dh_auto_install:
	dh_auto_install
	install -d debian/kadmin-remctl/etc/remctl/reset
	install -m 644 remctl/password \
	    debian/kadmin-remctl/etc/remctl/reset/remctl.conf

override_dh_installchangelogs:
	dh_installchangelogs NEWS
